<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

  <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 offset-md-1">
                    <div class="res-m-btm">
                        <!-- <img src="/images/graph-light-a.png" alt="graph"> -->
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 order-md-first order-last">
                    <div class="text-block">
                        <h2></h2>
                        <p class="lead">Reinventing cryptocurrency by merging privacy with interoperabilty. Combining the best features of leading CryptoNote coins with major blockchain networks. Join the community </p>
                        </br>
                        <p><a href='https://github.com/electronero-pulse/electroneropulse'>Electronero Pulse official Github</a></p>
                        </br>
                        </br>
                        <p>Upcoming SWAP 🎁
ETNX, ETNXP, and LTNX hodlers will be receiving a swap rate of ₮3 in CRFI for every ₮1 in ETNX, ETNXP, or LTNX.

Example, ₮100 of ETNX, ETNXP, or LTNX will receive ₮300 in CRFI (in any market)

Buy ETNX, ETNXP or LTNX now before the swap and park at Finexbox.com or Webnero (https://webnero.electronero.org)

Trade💰ETNX, ETNXP, LTNX and CRFI are available for BUY/SELL in various trading pairs at exchange affiliates <a href='https://tradeogre.com'>TradeOgre.com</a> <a href='https://finexbox.com'>Finexbox.com</a> <a href='https://vindax.com'>Vindax.com</a> <a href='https://bitexlive.com'>Bitexlive.com</a>

⚠️ Stay tuned to <a href='https://t.me/etnxnews'>@etnxnews</a> <a href='https://t.me/etnxpnews'>@etnxpnews</a> <a href='https://t.me/ltnxnews'>@ltnxnews</a> <a href='https://t.me/crfinews'>@crfinews</a> for official announcement of the swap dates.</p>

                    </div>
                </div><!-- .col  -->
                <div class="col-lg-6 col-md-12 order-first">
                        <div class="header-image animated fadeInRight" data-animate="fadeInRight" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;"> <img src="images/header-image-dark.png" alt="header"> <img class="header-image-icon left-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon right-icon" src="images/header-icon-b.png" alt="header-icon"></div>
                     </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .conatiner  -->
    </div>
    <!-- Start Section -->
